*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
     background: url(./mountain.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
 background-color: rgb(0, 0, 255);
padding: 30px 20px;
border-radius: 30px;
width: 500px;
height: 300px;
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
flex-direction: column;
}
#generatedPassword {
    border: none;
    padding: 0;
    background: none;
    outline: none;
}
#length-value{
    border: none;
    width: 20px;
    padding: 0;
    background: none;
    outline: none;
    font-size: 1rem;
    color: white;
}
#generatedPassword{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 20px  0;
    text-align: center;
}
.input-range{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 180px;
    height: 8px;
    background-color: white;
    border-radius: 5px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 30px;
    background-color: rgb(250, 8, 8);
    border-radius: 20%;
    cursor: pointer;
}
.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 20px;
}
.checkbox label{
    padding: 12px;
    background: linear-gradient(45deg, rgb(73, 8, 250), rgb(211, 204, 204));
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label{
    background: white;
    color: black;
    transform: scale(1.2);
}
button{
    padding: 10px 20px;
    border: 1px solid white;
    background-color: rgb(250, 8, 8);
    color: white;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
}